.nav-link {
  border: 2px solid #ffffff;
  padding: 6px 130px;
  border-radius: 50px;
  color: #ffffff;
  /* background-color: transparent;
  display: flex; */
}
.nav-link:hover {
  color: white;
  background-color: #0f2480;
  transition: 0.3s;
  border: 2px solid transparent;

  background-color: #1b2c7a;
}
.button {
  display: flex;
  color: white;
  background-color: #3554d1;
  border: 2px solid transparent;
}
.button:focus {
  color: white;
}


@media screen and (max-width: 990px) {
  .navbar {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(198, 183, 206, 1) 50%,
      rgba(46, 76, 162, 1) 100%
    );
  }
}
